* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 4px 0 15px;
  background: #2D2D2D;
  border-bottom: 1px solid #1a1a1a;
}

.logo {
  width: 85px;
  height: 24px;
  background-image: url("../assets/images/logo.png"); 
  background-size: cover;
}

.headerText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #888;
  text-shadow: 0 -1px 0 #000;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 167px;
}

.createButton, .loginButton {
  height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.1;
  transition: 0.3s background-color;
}

.createButton {
  width: 100px;
}

.loginButton {
  width: 63px;
}

.createButton:hover, .loginButton:hover {
  background-color: #fff;
}

body {
  margin: 0 auto;
  background-color: #1D1D1D;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999;
  max-width: 100vw;
}

.main {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1900px;
  margin: 6px auto;
}

.signout {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.toolsContainer {
  display: flex;
}

.tools {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98px;
  margin-left: 12px;
}

.changeSize {
  display: flex;
  justify-content: space-evenly;
  width: 98px;
  height: 23px;
  margin: 1px;
  margin-bottom: 5px;
}

input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[name="size"] + span {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
}

input[name="size"] + span:hover {
  outline: 2px solid #c0c0c0;
}

input[name="size"]:checked + span {
  background-color: #ffd700;
  outline: 2px solid #ffd700;
  outline-offset: -3px;
}

input[value="1"] + span {
  width: 5px;
  height: 5px;
  border: 8px solid #1d1d1d;
  outline: 2px solid #888;
  outline-offset: -3px;
}

input[value="2"] + span {
  width: 7px;
  height: 7px;
  border: 7px solid #1d1d1d;
  outline: 2px solid #888;
  outline-offset: -3px;
}

input[value="3"] + span {
  width: 9px;
  height: 9px;
  border: 6px solid #1d1d1d;
  outline: 2px solid #888;
  outline-offset: -3px;
}

input[value="4"] + span {
  width: 13px;
  height: 13px;
  border: 4px solid #1d1d1d;
  outline: 2px solid #888;
  outline-offset: -3px;
}

.sizes .tooltip {
  top: 0px;
  left: 102px;
}

.shortcut .tooltip {
  top: -6px;
  left: 44px;
}

.shortcut:hover .tooltip,
.sizes:hover .tooltip {
  opacity: 1;
  z-index: 4;
  transition: .3s;
}

input[name="tool"] + span {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  background-position: center center;
  background-size: 28px;
  background-repeat: no-repeat;
  background-color: #444444;
  border: 3px solid #444444;
  cursor: pointer;
}

input[name="tool"]:checked + span {
  border: 3px solid #ffd700;
}

label {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: -2;
  top: 10px;
  left: 52px;
  min-height: 24px;
  min-width: 80px;
  padding: 2px 2px 6px;
  background-color: #000;
  border-radius: 2px;
  opacity: 0;
  transition: .3s;
}

label:hover > .tooltip {
  opacity: 1;
  z-index: 4;
  transition: .3s;
}

label > .tooltip:hover {
  opacity: 0;
  z-index: -4;
  transition: .3s;
}

.pen > span {
  background-image: url("../assets/images/pen.png");
}

.bucket > span {
  background-image: url("../assets/images/bucket.png");
}

.oneColorBucket > span {
  background-image: url("../assets/images/onecolorbucket.png");
}

.eraser > span {
  background-image: url("../assets/images/eraser.png");
}

.linePainter > span::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 21px;
  width: 2.5px;
  height: 30px;
  background-color: #ccc;
  transform: rotate(45deg);
}

.colorPicker > span {
  background-image: url("../assets/images/picker.png");
}

.colors {
  position: relative;
  width: 98px;
  height: 98px;
  padding-left: 6px;
}

input[type="color"] {
  width: 46px;
  height: 46px;
  border: 5px solid #444444;
  outline: none;
  margin: 1px;
  padding: 0;
  transition: .3s;
}

input[type="color"].currentColor {
  margin-top: 10px;
}

input[type="color"]:hover {
  border: 5px solid #ccc;
  transition: .3s;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.currentColor {
  position: relative;
  z-index: 2;
}

.previousColor {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 36px;
}

.previousColor:hover {
  border: 5px solid #ccc;
  transition: .3s;
}

.changingColor {
  width: 32px;
  height: 26px;
  background-position: center center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/arrow.png");
  transition: .3s;
}

.colors:hover .rotate {
  filter: brightness(1.5);
  transition: .3s;
}

.rotate:hover {
  filter: brightness(1.5);
  transition: .3s;
}

.gifLayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 146px;
  margin-right: 2px;
  height: calc(100vh - 69px);
  padding-top: 2px;
  overflow: scroll;
}

.gifLayersList {
  width: 102px;
  padding-left: 0;
  margin: 0 auto;
}

.gifLayersContainer {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
  list-style: none;
  width: 102px;
  height: 102px;
}

.gifLayerContainerActive {
  background-color: rgba(255, 215, 0, .3);
  border: 3px dashed #ffd700;
}

.plus {
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/plus.png");
  background-size: cover;
}

.preview {
  position: absolute;
  top: 0; left: 0;
  padding: 0;
  width: 102px;
  height: 102px;
  border: 3px solid rgb(66, 66, 66);
  border-radius: 3px;
  background-image: url("../assets/images/bg.png");
}

.preview::after {
  content: "";
  position: absolute;
  right: -15px; top: calc(50% - 6px);
  border: 6px solid transparent;
  border-left: 6px solid rgb(66, 66, 66);
 }

.activeLayer {
  border: 3px solid #ffd700;
}

.activeLayer::after {
  border-left: 6px solid #ffd700;
 }

.canvas2 {
  position: absolute;
  image-rendering: pixelated;
  z-index: 1;
  width: 102px;
  height: 102px;
  background-image: url("../assets/images/bg.png");
}

.preview:hover .gifLayerButton {
  opacity: 1;
  transition: .3s;
}

.gifLayerButton {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: none;
  border-bottom-right-radius: 3px;
  background-color: rgba(100, 100, 100, 0.8);
  background-position: center center;
  background-size: 18px;
  background-repeat: no-repeat;
  transition: .3s;
}

.delete {
  top: 0; right: 0;
  background-image: url("../assets/images/trash.png");
  opacity: 0;
  cursor: pointer;
}

.copy {
  bottom: 0; right: 0;
  background-image: url("../assets/images/copy.png");
  opacity: 0;
  cursor: pointer;
}

.move {
  bottom: 0; left: 0;
  background-image: url("../assets/images/move.png");
  opacity: 0;
  cursor: move;
}

.number {
  top: 0; left: 0;
  background-color: #ffd700;
  text-align: center;
  line-height: 30px;
  color: #333;
  font-weight: 600;
  opacity: 1;
}

.addFrame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 102px;
  height: 50px;
  margin: 5px 9px;
  background-color: #222222;
  border: 3px solid #888888;
  border-radius: 4px;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

.addFrame:hover {
  border-color: #ffd700;
  transition: .3s;
}

.addFrame p {
  position: relative;
  width: 54px;
  font-size: 13px;
  color: #888888;
  text-align: left;
  line-height: 14px;
  margin: 0;
}

.layerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  margin: 2px 10px;
}

.canvasContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  min-width: 640px;
  min-height: 768px;
  background-color: #A0A0A0;
  margin: 2px;
  overflow: hidden;
}

.canvas {
  position: absolute;
  image-rendering: pixelated;
  width: 740px;
  height: 740px;
  background-image: url("../assets/images/bg.png");
  background-color: rgba(255, 255, 255, .1);
  cursor: crosshair;
}

.layerWrap {
  width: 200px;
  background-image: url("../assets/images/bg.png");
}

.layer {
  margin: 0 auto;
  display: block;
  image-rendering: pixelated;
  position: relative;
  width: 100%;
  min-height: 200px;
  max-width: 100vh;
}

.layer::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 200px;
  top: 0; left: 0;
  background-image: url("../assets/images/bg.png");
}

.fullScreenButton {
  position: absolute;
  top: 0; right: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: rgba(100, 100, 100, 0.7);
  background-image: url("../assets/images/fullscreen.png");
  background-position: center center;
  background-size: 32px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

.fullScreenButton:hover,
.layer:hover + .fullScreenButton {
  opacity: 1;
  transition: .3s;
}

.fpsChanging,
.sizeChanging {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
}

.sizeChanging {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fpsChanging p,
.currentSize p {
  font-size: 14px;
  vertical-align: bottom;
  line-height: 26px;
  margin-right: 7px;
}

.currentSize+p {
  margin-right: 8px;
}

p.fpsValue,
p.currentSize {
  margin-right: 3px;
  min-width: 22px;
  text-align: center;
}

p.currentSize {
  min-width: 32px;
}

input:focus-outer {
  border: 0;
  outline: none;
}
input:focus {
  border: 0;
  outline: none;
}

.fpsRange {
  outline: 0 !important;
  outline-offset: 0 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -30px;
  top: 320px;
  width: 220px;
  height: 225px;
  padding: 15px 10px 21px;
  z-index: 5;
  background-color: #444;
  transition: left 1s;
  border-radius: 5px;
}

.settingButton {
  position: absolute;
  left: -46px;
  top: 60px;
  width: 46px;
  height: 48px;
  background-color: #444;
  background-image: url("../assets/images/settings.png");
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: .4s;
}

.settingsSaveButton {
  top: 107px;
  background-image: url("../assets/images/image.png");
}

.importButton {
  top: 155px;
  background-image: url("../assets/images/import.png");
  border-bottom: none;
}

.importFile input {
  display: none;
}

.importFile {
  position: relative;
  width: 180px;
  height: 28px;
  padding: 0 10px;
  color: #000;
  background-color: #ffd700;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  transition: 0.3s background-color;
  cursor: pointer;
  margin: 12px auto;
}

.importFile:hover {
  background-color: #ffffff;
  transition: 0.3s background-color;
}

.importFile label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.hideSet {
  left: 210px;
  transition: 1s;
}

.showSet {
  z-index: 6;
}

.hiddenSettings {
  opacity: 1;
  transition: 1s;
}

.activeButton {
  box-shadow: -1px 0 0 0 #ffd700;
  transition: .4s;
}

.settingTitle {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ffd700;
  line-height: 2.5;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.resizingContainer,
.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 182px;
}

.resizeItem p {
  font-size: 10px;
  color: #fff;
}

.resizeItem p span {
  color: #ffd700;
}

.resizeButton,
.saveButton {
  position: relative;
  display: block;
  width: 75px;
  height: 24px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  text-align: center;
  transition: 0.3s background-color;
  cursor: pointer;
}

.resizeButton {
  background-color: #ffd700;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  line-height: 24px;
}

.resizeButton:hover,
.saveButton:hover {
  background-color: #fff;
}

input[name="resize"]:checked ~ span {
  background-color: #ffd700;
}

input[name="resize"]:checked ~ span:hover {
  background-color: #fff;
}

.saveButton {
  background-color: #ffd700;
  font-size: 10px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
}

.canvasInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  position: absolute;
  top: 730px;
}
.canvasSize,
.coord {
  font-family: monospace;
  color: #ccc;
  font-size: 14px;
  font-weight: bold;
}

.coord {
  opacity: 0;
  transition: .3;
}

.canvasSize span,
.coord span {
  color: #ffd700;
}

.shortcut {
  position: relative;
  display: block;
  margin-top: 140px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #ccc;
  width: 39px;
  height: 31px;
  background-image: url("../assets/images/keyboard.png");
  background-size: cover;
  background-position:  center -15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.landingMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landingNav {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
}

.navItems {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffd700;
  text-decoration: none;
  transition: 0.3s color;
}

.navItems:hover {
  color: white;
}

.navItemsLink {
  text-decoration: none;
}

.img1, .img2, .img3 {
  width: 330px;
  height: 157px;
  background-size: cover;
  border: 1px double gold;
}

.imgScreens {
  width: 1115px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img1 {
  background-image: url('../assets/screens/1.png');
}

.img2 {
  background-image: url('../assets/screens/2.png');
}

.img3 {
  background-image: url('../assets/screens/3.png');
}

.ex1, .ex2 {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.ex1 {
  background-image: url('../assets/examples/newAPNG\(2\).apng');
}

.ex2 {
  background-image: url('../assets/examples/newAPNG\(3\).apng');
}

.landingTitle {
  color: gold;
  margin-bottom: 25px;
}

#screenshots, #animationExamples, #functionalityOverview {
  margin-bottom: 50px;
  color: white;
}

.myImg {
  width: 200px;
  height: 270px;
  margin-bottom: 50px;
  background-image: url('../assets/images/26o4vhUFWCQ.jpg');
  background-size: cover;
}